export/windows/neko/obj/ApplicationMain.n
export/windows/neko/haxe/release.hxml
export/windows/neko/haxe/NMEPreloader.hx
export/windows/neko/haxe/lime/AssetData.hx
export/windows/neko/haxe/final.hxml
export/windows/neko/haxe/DefaultAssetLibrary.hx
export/windows/neko/haxe/debug.hxml
export/windows/neko/haxe/ApplicationMain.hx
export/windows/neko/bin/zlib.ndll
export/.build
export/windows/neko/bin/assets/data/data-goes-here.txt
export/windows/neko/bin/assets/images/images-go-here.txt
export/windows/neko/bin/assets/music/music-goes-here.txt
export/windows/neko/bin/assets/sounds/sounds-go-here.txt
export/windows/neko/bin/gc.dll
export/windows/neko/bin/icon.ico
export/windows/neko/bin/lime-legacy.ndll
export/windows/neko/bin/manifest
export/windows/neko/bin/assets/images/Pelota.png
export/windows/neko/bin/regexp.ndll
export/windows/neko/bin/Voli-Yet-Original.exe
export/windows/neko/bin/sqlite.ndll
export/windows/neko/bin/neko.dll
export/windows/neko/bin/std.ndll
export/windows/neko/bin/assets/images/Player02.png
export/windows/neko/bin/assets/images/Player01.png
export/windows/neko/bin/assets/images/Piso.png
export/windows/neko/bin/assets/images/Fondo.png